<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon Scraping</title>
  </head>
  <body>
    <h1>Amazon Products</h1>
    <div>
      <% data.forEach(item => { %>
      <div>
        <h2><%= item.title %></h2>
        <p>Price: <%= item.price %></p>
        <img src="<%= item.imageURL %>" alt="<%= item.title %>" />
      </div>
      <% }); %>
    </div>
  </body>
</html>
